body {
      background-color: #212121;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
}
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

.container {
      background: linear-gradient(70deg, #7FC7D9, #365486);
      padding: 30px 60px;
      border-radius: 7px;
}
.container .heading {
      font-size: 44px;
      margin-bottom: 15px;
}
.container > p {
      font-size: 32px;
      text-align: center;
}
.container > hr {
      border: 0;
      border-bottom: 1px solid #fff;
      margin-bottom: 20px;
}
.container .buttons {
      display: flex;
      justify-content: space-between;
}

button {
      border: 0;
      padding: 7px 10px;
      border-radius: 3px;
      color: #fff;
}
.container .buttons > .subs {
      background-color: #00a44a;
}
.container .buttons > .reset {
      background-color: #a50257;
}
.container .buttons > .add {
      background-color: #aa9f02;
}