body {
      background-color: #212121;
      color: #fff;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
}

.counter {
      background-color: #de6f0e;
      width: 350px;
      border-radius: 5px;
      text-align: center;
      padding: 20px;
}
.counter h1 {
      font-family: 'Times New Roman', Times, serif;
}
.counter > * {
      margin-bottom: 20px;
}
.counter .count {
      font-size: 30px;
}


.buttons {
      display: flex;
      justify-content: space-around;
}
.buttons button {
      border: none;
      outline: none;
      padding: 10px;
      border-radius: 5px;
      font-weight: 700;
      color: #fff;
}
.buttons .substract {
      background-color: #e11b01;
}
.buttons .reset {
      color: #000;
}
.buttons .add {
      background-color: #009000;
}